header.header
    .header_wrapper
        .header_column 
            a(href=routes.home) 
                i.fas.fa-home  MODLE
        .header_column 
            ul
                li
                    a(href=routes.join) 가입
                li
                    a(href=routes.login) 로그인
        .header_column
            a(href=routes.user)
                i.fas.fa-bars
            