extends layouts/main

block content
    .form-container
        form(action=routes.changePassword, method="post")
            input(type="text", id="password1", name="oldPassword", placeholder="현재 비밀번호를 입력하시오.")
            input(type="text", id="password2", name="newPassword", placeholder="변경할 비밀번호를 입력하십시오")
            input(type="text", id="password3", name="newPasswordOath", placeholder="변경할 비밀번호를 재입력하십시오")
            input(type="submit", value="비밀번호 변경하기")