extends layouts/main

block content
    .form_container
        form(action=routes.login, method="post")
            input(type="text", name="ID", placeholder="이메일", required=true)
            input(type="text", name="PS", placeholder="비밀번호", required=true)
            input(type="submit", value="Login")