extends layouts/main

block content
    .search-header
        h3 #{searchingBy} 관련 검색 결과
    .search-results
        each house in home
            .search-result
                a(href=`/search/${house.id}`)
                    h2= house.name
                p= house.place