doctype html
html
    head
        <script src="https://kit.fontawesome.com/26bef48f89.js" crossorigin="anonymous"></script>
        title  #{pageTitle} | #{siteName}
    body
        a(href=routes.home)
            i.fas.fa-times
    main 
        .user
            .user_avatar
                a(href=routes.userDetail)
                label(for="avatar") Avatar
            .user_name
                h5 item.nickname
            .user_setting
                a(href=`/user/edit-profile`)
                    button 프로필 변경
    include ./partials/footer